.background {
  height: 100vh;
  background-repeat: repeat;
  background-image: url("3.jpg");
  position: fixed;
  width: 100%;
  overflow-y:scroll; 
}
.hero {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(a.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
}
.heroes{
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(be.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px 40px;
  
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}
.hero1{
  color: white;
  margin: 150px;
  margin-left: 20px;
  max-width: 900px;
  width: 90%;
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
}
.hero2{
  color: white;
  max-width: 900px;
  width: 90%;
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  flex-direction: column;
  display: flex;
  align-items: bottom;
  
}

.section1 {
  max-width: 1500px;
  margin: 0 auto;
  padding-left:140px;
  padding-top:100px;
}
.hero-content {
  font-family: 'Bitter', cursive;
  font-size: 15px;
  color: white;
  margin: 0 auto;
  max-width: 900px;
  width: 90%;
}
.image-container {
  display: flex;
  margin-left: 0;
  margin-right: 0;
}
.img{
 align-items: center;
}

.img1 {
  float: left;
  margin-left: 50px;
  margin-right: 0;
  margin-top: 46px;
  height: 550px;
  vertical-align: middle;
}

.img2 {
  float:left;
  margin-top: 0px;
   margin-bottom: 10px;
    margin-left: 8px;
     margin-right: 18px;
}

.img3{
  
  margin-left: 50px;
  margin-right: 0;
  margin-top: 46px;
  height: 550px;
  vertical-align: middle;
}
.textbox{
  width: 800px;
  height: 800px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.staff{
  text-align: center;
}

.wrapper {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}

.column {
  float: center;
}

.card{
position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin:100px;
}
.mySlides {display:none;}
/* -------buttons---- */
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #333;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

a {
  color: #2196f3;
  text-decoration: none;
  display: inline-block;
  padding: 20px 20px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: black;
  color: white;
}



button {
  border: none;
  background: none;
}
.primary-button {
  background: white;
  color: #222;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid white;
  font-weight: 700px;
}
.secondary-button {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid white;
  font-weight: 700px;
}
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {
  background: #eee;
}
/* ---------Nav bar--------- */
.logo {
  width: 100%;
  color: white;
}
.topnav-desktop{
  background-color: #333;
  display: flex;
  justify-content: center;
 font-family: 'Anton',cursive;
  color:white;
}
.topnav-centered {
  display: flex;
  justify-content: center;
 font-family: 'Anton',cursive;
  color:#2196f3;
  
}


.topnav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.topnav a {
  /* float: left;
  */
  background-color: #2196f3;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
.topnav a:hover {
  background-color: #ddd;
  color: white;
}

.topnav input[type="text"] {
  /* float: right;
  */
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  margin-bottom: 10px;
}
.mobile {
  display: none;
}
.social-icons a {
  text-decoration: none !important;
}
.fa.fa-empire {
  font-size: 50px;
  margin: 5px;
}
.fa.fa-bars {
  font-size: 25px;
  color: white;
  margin: 5px;
}
html, body{
  width: 500px;
  height: 500px;
  padding:0;
  margin: 0px;
}
 slider {
display: block;
width: 1000px;
height: 500px;
background-color: #1f1f1f;
overflow: hidden;
position: absolute;
}
slider > *{
  position: absolute;
  display:block;
  width: 500px;
  height: 500px;
  background: #1f1f1f;
  animation: slide 12s infinite;
  overflow: hidden;
}
slide:nth-child(1){
  left: 0%;
  animation-delay: 1s;
  background-image: url(bs.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(2){
  animation-delay: 2s;
  background-image: url(p.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(3){
  animation-delay: 2s;
  background-image: url(bs2.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(4){
  animation-delay: 2s;
  background-image: url(bs3.jpg);
  background-size: cover;
  background-position: center;
}
slide p{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 70px;
text-align: center;
display: inline-block;
width: 100%;
margin-top: 340px;
color: #fff;
}

@keyframes slide{
  0% { left:100%; width: 100%;}
  5% { left: 0%;}
  25% { left: 0%;}
  30% { left:-100%; width: 100%; }
  30.0001% { left: -100%; width: 0%; }
  100% { left: 100%; width: 0%;}
}


/********FOOTER**************/
footer {
  margin-top: 0px;
  padding: 0;
}
.footer-container {
  display: flex;
  justify-content: center;
  margin: 0;
}
.footer-box {
  justify-content: flex-start;
  text-align:left;
}
footer a {
  color: #222;
}
 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  text-align: left;
} 
/********MEDIA*********/
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    /* float: none;
      */
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .hero2{
    color: white;
    max-width: 900px;
    width: 90%;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    flex-direction: column;
    display: flex;
    align-items: bottom;
    }

    .h1{
      margin-top: auto;
    }
  .column {
    width: 100%;
    display: block;
  }
  .footer-container {
    flex-direction: column;
  }
  .hero {
    justify-content: flex-end;
  }
  .logo {
    display: none;
  }
  .content {
    margin-top: unset !important;
  }
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .topnav.mobile {
    height: 30px;
    position: absolute;
    background: none;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}
.content {
  max-width: 1400px;
  margin: auto;
  margin-top: 50px;
}
